<!doctype html>
<html>
<head>
    <title>Billboard</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link href="/js/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="/css/jquery-ui-smoothness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/global.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" data-main="/js/main" src="/js/libs/require.js"></script>
</head>
<body>
    <div class="container">
        <div class="top-bg"></div>
        <div class="row-fluid">
            <div class="span12">
                <div class="navbar">
                    <div class="navbar-inner">
                        <a class="brand" href="/" data-navigation="true"><img src="/css/logo.png" /></a>
                        <ul class="nav">
                            <li><a href="recent" data-navigation="true">Недавние</a></li>
                            <li><a href="popular" data-navigation="true">Популярные</a></li>
                        </ul>

                        <a href="new-bill" data-navigation="true" class="btn btn-primary pull-right">Подать объявление</a>
                    </div>
                </div>
                <div class="hero">
                    <div class="hero-text">
                        <div class="mask"></div>
                        <h2>БУДЬТЕ С НАМИ</h2>
                        <p>Простота, которая переходит все границы.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div id="content" class="content loading"></div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <footer></footer>
            </div>
        </div>
    </div>
</body>
</html>
