<div class="details-wrapper">
    <div class="details-title"><b><%=this.model.get('title') %></b></div>
    <div class="details-views">Просмотров: <%= this.model.get("viewCount") %></div>
    <div class="details-created-date">Опубликовано: <i><%= this.model.get("createdDateFormatted") %></i></div>
    <div class="tags">
        <% _.each(this.model.get("tags").split(","), function(tag) { %>
            <% if (tag.replace(/\s/g, "") !== "") { %>
                <div class="tag"><%= tag %></div>
            <% } %>
        <% }); %>
    </div>
    <div class="details-message"><%=this.model.get('message') %></div>
    <div class="details-contacts">Контактные данные: <%=this.model.get('contacts') %></div>

    <% if (this.model.get('imagesArray').length > 0) { %>
        <div class="details-photos">
            <div class="photos-heading"><%= this.model.get('imagesArray').length %> фото:</div>
            <div class="image-preview-box">
                <% _.each(this.model.get('imagesArray'), function(image) { %>
                <a href="<%=image %>" target="_blank"><img class="img-polaroid" src="<%=image %>" /></a>
                <% }) %>
            </div>
        </div>
    <% } %>

    <hr class="hor-separator">

    <div class="buttons">
        <a class="btn back-btn" href="#" data-navigation="true">< Вернуться назад</a>
    </div>
</form>