<div class="bill-edit-wrapper">
    <form id="updateBillForm" method="PUT" action="/bills">
        <fieldset>
            <legend>Редактирование объявления</legend>

            <div class="alert alert-error hidden">
                <strong>Исправьте ошибки прежде чем сохранить объявление:</strong><br>
                <ul id="errorList"></ul>
            </div>

            <label for="Title">Заголовок</label>
            <input id="Title" name="title" tabindex="1" type="text" value="<%=this.model.get('title') %>" class="span10" />

            <label for="Content">Текст</label>
            <textarea id="Content" name="message" tabindex="2" rows="10" placeholder="Введите текст сообщения" class="span10"><%=this.model.get('message') %></textarea>

            <label for="Tag">Ключевые слова</label>
            <select id="Tag" name="tag" tabindex="3" class="span10">
                <option value="">Введите ключевое слово…</option>
                <% _.each(this.options.tags, function(tag) { %>
                    <option value="<%= tag.tagID %>"><%= tag.name %></option>
                <% }); %>
            </select>
            <div id="Tags" class="tags">
                <% _.each(this.model.get("tags").split(","), function(tag) { %>
                    <% if (tag.replace(/\s/g, "") !== "") { %>
                        <div class="tag"><%= tag %></div>
                    <% } %>
                <% }); %>
            </div>
            <input id="TagsConcated" name="tags" type="hidden" value="<%=this.model.get('tags') %>" />

            <label for="Contacts">Контактная информация</label>
            <textarea id="Contacts" name="contacts" tabindex="4" rows="4" class="span10"><%=this.model.get('contacts') %></textarea>

            <% if (this.model.get('imagesArray').length > 0) { %>
                <div class="details-photos">
                    <div class="photos-heading">Прикрепленные фото:</div>
                    <input type="file" id="fileInput" />
                    <div id="imagePreview" class="image-preview-box">
                        <% _.each(this.model.get('imagesArray'), function(image) { %>
                            <a href="<%=image %>" target="_blank"><img class="img-polaroid" src="<%=image %>" /></a>
                        <% }) %>
                    </div>
                </div>
            <% } %>

            <hr class="hor-separator">

            <div class="buttons">
                <a class="btn back-btn" href="#" data-navigation="true">< Вернуться к просмотру</a>
                <button type="submit" tabindex="5" class="btn btn-primary publish">Сохранить</button>
            </div>
        </fieldset>
    </form>
</div>
