<div class="details-wrapper">
    <div class="details-title"><b><%=this.model.get('title') %></b></div>
    <div class="details-created-date"><i>Опубликовано: <%= this.model.get("createdDateFormatted") %></i></div>
    <div class="tags">
        <% _.each(this.model.get("tags").split(","), function(tag) { %>
            <% if (tag.replace(/\s/g, "") !== "") { %>
                <div class="tag"><%= tag %></div>
            <% } %>
        <% }); %>
    </div>
    <div class="details-message"><%=this.model.get('message') %></div>
    <div class="details-contacts">Контактные данные: <%=this.model.get('contacts') %></div>

    <hr class="hor-separator">

    <div class="buttons">
        <a class="btn back-btn" href="#" data-navigation="true">< Вернуться назад</a>
    </div>
</form>