<form id="newBillForm" method="POST" action="/bill">
    <fieldset>
        <legend>Новое объявление</legend>

        <label for="Title">Заголовок</label>
        <input id="Title" name="title" type="text" value="<%=this.model.get('title') %>" class="input-xxlarge" placeholder="Введите заголовок…" />

        <label for="Content">Текст</label>
        <textarea id="Content" name="message" rows="10" value="<%=this.model.get('message') %>" class="input-xxlarge"></textarea>

        <label for="Tag">Ключевые слова</label>
        <input id="Tag" type="text" class="input-xxlarge" placeholder="Введите ключевое слово…" />
        <div id="Tags" class="tags"></div>
        <input id="TagsConcated" name="tags" type="hidden" value="<%=this.model.get('tags') %>" />

        <div class="height-10"></div>

        <label for="Contacts">Контактная информация</label>
        <textarea id="Contacts" name="contacts" rows="4" value="<%=this.model.get('contacts') %>" class="input-xxlarge"></textarea>
    </fieldset>

    <button type="submit" class="btn btn-primary">Опубликовать</button>
</form>