<% _.each(this.collection.models, function(item) { %>
    <div class="bill">
        <div class="title">title: <%= item.get("title") %></div>
        <div class="message">message: <%= item.get("message") %></div>
        <div class="created-date">date: <%= item.get("createdDate") %></div>
        <div class="views">views: <%= item.get("viewCount") %></div>
        <div class="contacts">contacts: <%= item.get("contacts") %></div>
        <div class="tags">
            <% _.each(item.get("tags").split(","), function(tag) { %>
                <% if (tag.replace(/\s/g, "") !== "") { %>
                    <div class="tag"><%= tag %></div>
                <% } %>
            <% }); %>
        </div>
    </div>
<% }); %>
