<div>
    <% _.each(this.model, function(item) { %>
        <div>
            <div>title: <%= item.get("title") %></div>
            <div>message: <%= item.get("message") %></div>
            <div>date: <%= item.get("createdDate") %></div>
            <div>views: <%= item.get("viewCount") %></div>
            <div>contacts: <%= item.get("contacts") %></div>
            <div class="tags">
                <% _.each(item.get("tags").split(","), function(tag) { %>
                    <% if (tag.replace(/\s/g, "") !== "") { %>
                        <div class="tag"><%= tag %></div>
                    <% } %>
                <% }); %>
            </div>
        </div>
    <br/>
    <% }); %>
</div>